<include src="/layouts/body.html">
  <section>
    <div class="container list-posts">
      <ul>
        <include src="/blog/item.html" repeat="{{post in posts}}"></include>
      </ul>
    </div>
  </section>
</include>
