<li>
  <article>
    <a href="{{post.link}}" title="{{post.posttitle}}">
      <h1>{{post.posttitle}}</h1>
    </a>

    <ul class="categories-post">
      <include src="/blog/tag-item.html" repeat="{{tag in post.posttags}}"></include>
    </ul>

    <template if="{{post.postimagemain.src}}">
      <a href="{{post.link}}" title="{{post.posttitle}}">
        <div class="box-img">
          <img src="{{post.postimagemain.src}}" alt="{{post.postimagemain.alt}}">
        </div>
      </a>
    </template>

    <small>
      <txt-date date="{{ post.postlaunch }}" format="dddd, LL" />
    </small>

    <a href="{{post.link}}" title="{{post.posttitle}}">
      <p>
        <txt-html content="{{ post.postresume }}" />
      </p>
    </a>

    <a href="{{post.link}}" title="{{post.posttitle}}" class="btn-line">
      ler mais
    </a>
  </article>
</li>
