<li class="col-xs-12 col-sm-4 text-left">
  <article>
    <a href="{{ref.link}}" title="{{ref.posttitle}}">
      <h1>
        {{ref.posttitle}}
      </h1>

      <small>
        <txt-date date="{{ ref.postlaunch }}" format="dddd, LL" />
      </small>

      <p>{{ref.postresume}}</p>
    </a>

    <a href="{{ref.link}}" title="{{ref.posttitle}}" class="btn-line">
      ler mais
    </a>
  </article>
</li>
