<include src="/layouts/body.html">
  <section>
    <div class="container list-posts post">
      <div class="box-post">
        <article>
          <h1>{{post.posttitle}}</h1>

          <ul class="categories-post">
            <include src="/blog/tag-item.html" repeat="{{tag in post.posttags}}"></include>
          </ul>

          <div class="box-img">
            <img src="{{post.postimagemain.src}}" alt="{{post.postimagemain.alt}}">
          </div>

          <small>
            <txt-date date="{{ post.postlaunch }}" format="dddd, LL" />
          </small>

          <div class="post-content single-text">
            <txt-html content="{{ post.postdesc }}" />
    			</div>

          <div class="share-post">
            <b>COMPARTILHE</b>
            <div class="addthis_sharing_toolbox"></div>
          </div>
        </article>
      </div>

      <div class="pagination-post">
        <template if="{{post.priorPost}}">
          <div class="prev pull-left">
            <a href="{{post.priorPost.link}}" title="{{post.priorPost.posttitle}}">
              <span>Anterior</span>
              <b>{{post.priorPost.posttitle}}</b>
            </a>
          </div>
        </template>

        <template if="{{post.nextPost}}">
          <div class="next pull-right">
            <a href="{{post.nextPost.link}}" title="{{post.nextPost.posttitle}}">
              <span>Próximo</span>
              <b>{{post.nextPost.posttitle}}</b>
            </a>
          </div>
        </template>
      </div>

      <div class="box-comments">
        <div id="disqus_thread"></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//pedalworks.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//pedalworks.disqus.com/count.js" async></script>
      </div>
    </div>
  </section>

  <section>
    <div class="row related-post">
      <div class="container list-posts">
        <ul>
          <template if="{{post.related.length}}">
            <li class="col-xs-12">
              <span class="label label-default">POSTS RELACIONADOS</span>
            </li>
          </template>

          <include src="/blog/post-ref.html" repeat="{{ref in post.related}}"></include>

          <template if="{{post.recent.length}}">
            <li class="col-xs-12">
              <span class="label label-default">POSTS RECENTES</span>
            </li>
          </template>

          <include src="/blog/post-ref.html" repeat="{{ref in post.recent}}"></include>
        </ul>
      </div>
    </div>
  </section>
</include>
