<include src="/layouts/body.html">
  <section>
    <div class="container list-posts post">
      <div class="box-post">
        <article>
          <h1>{{tag.tagname}}</h1>

          <template if="{{tag.tagimagemain.src}}">
            <div class="box-img">
              <img src="{{tag.tagimagemain.src}}" alt="{{tag.tagimagemain.alt}}">
            </div>
          </template>

          <small>
            <txt-date date="{{ tag.taglaunch }}" format="dddd, LL" />
          </small>

          <div class="post-content single-text">
            <txt-html content="{{ tag.tagdesc }}" />
    			</div>

          <div class="container list-posts">
            <ul>
              <template if="{{tag.posts.length}}">
                <li class="col-xs-12">
                  <span class="label label-default">POSTS DESSA TAG</span>
                </li>
              </template>

              <include src="/blog/post-ref.html" repeat="{{ref in tag.posts}}"></include>
            </ul>
          </div>

          <div class="share-post">
            <b>COMPARTILHE</b>
            <div class="addthis_sharing_toolbox"></div>
          </div>
        </article>
      </div>
    </div>
  </section>
</include>
