<!doctype html>
<html>
  <head>
    <base href="{{config.path}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{config.confname}}</title>

    <meta name="author" content="Nurimba">
    <meta name="copyright" content="Nurimba">

    <template if="{{config.confseo.robots}}">
      <meta name="robots" content="{{config.confseo.robots}}">
    </template>

    <template if="{{config.confseo.keywords}}">
      <meta name="keywords" content="{{config.confseo.keywords}}">
    </template>

    <template if="{{config.confseo.description}}">
      <meta name="description" content="{{config.confseo.description}}">
    </template>

    <template if="{{config.confseo.facebookTitle}}">
      <meta property="og:title" content="{{config.confseo.facebookTitle}}">
    </template>

    <template if="{{config.confseo.facebookDescription}}">
      <meta property="og:description" content="{{config.confseo.facebookDescription}}">
    </template>

    <template if="{{config.confseo.facebookImage}}">
      <template if="{{config.confseo.facebookImage.src}}">
        <meta property="og:image" content="{{config.confseo.facebookImage.src}}" />
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="{{config.confseo.facebookImage.width}}">
        <meta property="og:image:height" content="{{config.confseo.facebookImage.height}}">
      </template>
    </template>

    <template if="{{config.confseo.twitterTitle}}">
      <meta name="twitter:title" content="{{config.confseo.twitterTitle}}">
    </template>

    <template if="{{config.confseo.twitterDescription}}">
      <meta name="twitter:description" content="{{config.confseo.twitterDescription}}">
    </template>

    <template if="{{config.confseo.twitterImage}}">
      <template if="{{config.confseo.twitterImage.src}}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{config.confseo.twitterImage.src}}">
      </template>
    </template>

    <template if="{{config.confseo.googleTitle}}">
      <meta itemprop="name" content="{{config.confseo.googleTitle}}">
    </template>

    <template if="{{config.confseo.googleDescription}}">
      <meta itemprop="description" content="{{config.confseo.googleDescription}}">
    </template>

    <template if="{{config.confseo.googleImage}}">
      <template if="{{config.confseo.googleImage.src}}">
        <meta itemprop="image" content="{{config.confseo.googleImage.src}}">
      </template>
    </template>

    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/pedal.css">

    <link rel="shortcut icon" href="/assets/img/favicon.png">
  </head>
  <body>
    <content></content>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/skrollr.js"></script>
    <script src="/assets/js/isMobile.js"></script>
    <script src="/assets/js/pedal.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e49c927ce549cf" async="async"></script>
  </body>
</html>
