<footer>
  <div class="row newslatter">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <h2>Deseja receber novidades?</h2>
      </div>

      <div class="col-xs-12 col-sm-6 nopadding">
        <div class="form-group">
          <div class="col-xs-12 col-sm-8 nopadding">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="col-xs-12 col-sm-4 nopadding">
            <button type="button" class="btn">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer">
    <div class="container">
      <div class="menu-nav pull-left">
        <nav>
          <ul>
            <li class="{{menuHome}}">
              <a href="/">Home</a>
            </li>

            <li class="{{menuProduct}}">
              <a href="/categoria">Produtos</a>
            </li>

            <li class="{{menuBlog}}">
              <a href="/blog">Blog</a>
            </li>

            <li class="{{menuContact}}">
              <a href="/">Sobre nós</a>
            </li>
          </ul>
        </nav>

        <p>
          <template if="{{config.confaddress}}">
            <span>{{config.confaddress}} - </span>
          </template>

          <template if="{{config.confcep}}">
            <span>{{config.confcep}}</span>
          </template>

          <template if="{{config.confstatecity}}">
            <span>{{config.confstatecity}}</span>
          </template>

          <template if="{{config.confwhatsapp}}">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa fa-whatsapp"></span>
            <span>{{config.confwhatsapp}}</span>
          </template>
        </p>
      </div>

      <div class="menu-nav nav-icons pull-right">
        <ul>
          <!-- <template if="{{config.priorPost}}">
            <li>
              <a href="#"><span class="fa fa-search"></span></a>
            </li>
          </template> -->

          <template if="{{config.conffacebook}}">
            <li>
              <a href="{{config.conffacebook}}" target="_blank">
                <span class="fa fa-facebook-square"></span>
              </a>
            </li>
          </template>

          <template if="{{config.conftwitter}}">
            <li>
              <a href="{{config.conftwitter}}" target="_blank">
                <span class="fa fa-twitter-square"></span>
              </a>
            </li>
          </template>

          <template if="{{config.confinstagram}}">
            <li>
              <a href="{{config.confinstagram}}" target="_blank">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
          </template>
        </ul>

        <p>
          <small>© 2016 Nurimba - Todos os direitos reservados.</small>
        </p>
      </div>
    </div>
  </div>
</footer>
