<header>
  <div class="row call-admin">
    <div class="container">
      <p><small>Esta loja exemplo foi desenvolvida com nbAdmin. Teste agora mesmo!</small> <a href="/admin" target="_blank">ver painel</a></p>
    </div>
  </div>
  <div class="row start-home">
    <div class="box-header{{classSlider}}">
      <div class="container">
        <div class="logo">
          PEDAL <span>WORKS</span>
        </div>

        <div class="menu-nav pull-left">
          <nav>
            <div class="menu-nav-mobile hidden-md hidden-lg">
              <span class="fa fa-navicon"></span>
              <ul class="menu-mobile">
                <li class="{{menuHome}}"><a href="/">Home</a></li>
                <li class="{{menuProduct}}"><a href="/categoria">Produtos</a></li>
                <li class="{{menuBlog}}"><a href="/blog">Blog</a></li>
                <li class="{{menuContact}}"><a href="/contato">Sobre nós</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/account">Minha conta</a></li>
                <li><a href="/carrinho">Carrinho</a></li>
                <li><a href="/contato">Contato</a></li>
              </ul>
            </div>

            <ul class="hidden-xs hidden-sm">
              <li class="{{menuHome}}">
                <a href="/">Home</a>
              </li>

              <li class="{{menuProduct}}">
                <a href="/categoria">
                  Produtos
                </a>

                <ul class="sub-menu">
                  <li><a href="/categoria">Categoria 1</a></li>
                  <li><a href="/categoria">Categoria 2</a></li>
                  <li><a href="/categoria">Categoria 3</a></li>
                  <li><a href="/categoria">Categoria 4</a></li>
                  <li><a href="/categoria">Categoria 5</a></li>
                </ul>
              </li>

              <li class="{{menuBlog}}">
                <a href="/blog">Blog</a>
              </li>

              <li class="{{menuContact}}">
                <a href="/contato">Sobre nós</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="menu-nav nav-sec pull-right hidden-xs hidden-sm">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/account">Minha conta</a></li>
            <li><a href="/carrinho">Carrinho</a></li>
            <li><a href="/contato">Contato</a></li>

            <template if="{{config.conffacebook}}">
              <li>
                <a href="{{config.conffacebook}}" target="_blank">
                  <span class="fa fa-facebook-square"></span>
                </a>
              </li>
            </template>

            <template if="{{config.conftwitter}}">
              <li>
                <a href="{{config.conftwitter}}" target="_blank">
                  <span class="fa fa-twitter-square"></span>
                </a>
              </li>
            </template>

            <template if="{{config.confinstagram}}">
              <li>
                <a href="{{config.confinstagram}}" target="_blank">
                  <span class="fa fa-instagram"></span>
                </a>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>

    <template if="{{viewSlider}}">
      <div class="box-carousel hidden-xs">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/assets/img/banner-1.jpg" alt="banner">
            </div>
            <div class="item">
              <img src="/assets/img/banner-2.jpg" alt="banner">
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </template>
  </div>
</header>
