<include src="/layouts/body.html" bind="{{ { viewSlider: false, classSlider: '-int' } }}">
  <section class="client-account">
    <article class="container">
      <a href="#" class="btn-line pull-right"><small>editar dados</small></a>
      <h1>Olá, Bart Simpson</h1>
      <div class="data-client">
        <small><span class="fa fa-envelope-o"></span></small> <a href="#">bartsimpsom@gmail.com</a> / <small><span class="fa fa-whatsapp"></span></small> <a href="#">99-9999-9999</a>
        <br><br>
        <small><span class="fa fa-flag-o"></span></small> <span>Rua do Oeste Vermelho, 189, Cidade Jardim, Florianópolis - SC, 04010-800</span>
      </div>
    </article>
  </section>

  <section class="payment client-request">
    <article class="container">
      <div class="container-fluid">
        <div class="col-xs-12 nopadding">
          <h2>Seus pedidos</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-xs-2"><small><b>ID</b></small></td>
                <td class="col-xs-4"><small><b>Itens</b></small></td>
                <td class="col-xs-3"><small><b>Total</b></small></td>
                <td class="col-xs-3"><small><b>Status</b></small></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-green"><span class="fa fa-circle"></span></small> <i>Pedido enviado</i></td>
              </tr>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-red"><span class="fa fa-circle"></span></small> <i>Aguardando pagamento</i></td>
              </tr>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-orange"><span class="fa fa-circle"></span></small> <i>Pendente envio</i></td>
              </tr>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-orange"><span class="fa fa-circle"></span></small> <i>Pendente entrega</i></td>
              </tr>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-green"><span class="fa fa-circle"></span></small> <i>Entregue</i></td>
              </tr>
              <tr>
                <td class="col-xs-2">216kd12</td>
                <td class="col-xs-4">
                  <ulclass="lis">
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                    <li>Pedal KSPEM020 <small> - 2 unidades</small></li>
                  </ul>
                </td>
                <td class="col-xs-3">R$ 52,90</td>
                <td class="col-xs-3"><small class="text-gray"><span class="fa fa-circle"></span></small> <i>Cancelado</i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--<div class="col-xs-12 col-md-4 nopadding data-payment">
          <div>
            <h2>Cliente</h2>
            <p><span class="fa fa-user"></span> Marina Santos de Almeida, marinasa@gmail.com, (99) 99999-9999 <a href="#">Editar</a></p>
            <div>
              <label>Nome</label>
              <input type="text" placeholder="Nome da rua, 562, Bairro">
              <label>Email</label>
              <input type="text" placeholder="_____-___">
              <label>Whats App</label>
              <input type="text">
            </div>
          </div>
          <div>
            <h2>Entrega</h2>
            <p><span class="fa fa-home"></span> Rua do Oeste Vermelho, 189, Cidade Jardim, Florianópolis - SC, 04010-800 <a href="#">Editar</a></p>
            <div>
              <label>CEP</label>
              <input type="text" placeholder="_____-___">
              <label>Endereço</label>
              <input type="text" placeholder="Nome da rua, 562, Bairro">
              <label>Cidade</label>
              <input type="text">
              <label>Estado</label>
              <input type="text">
            </div>
          </div>-->
        </div>
      </div>
    </article>
  </section>
</include>
