<include src="/layouts/body.html" bind="{{ { menuProduct: 'active', viewSlider: false, classSlider: '-int' } }}">
  <section class="categorie-page">
    <div class="row">
      <div class="container">
        <div class="col-sm-3 nopadding">
          <ul class="aside-nav">
            <li><b>Categorias</b></li>
            <li><a href="#">Correntes</a></li>
            <li><a href="#">Quadros de aluminio</a></li>
            <li class="active"><a href="#">Pedais</a></li>
            <li><a href="#">Coroas</a></li>
            <li><a href="#">Freios a disco</a></li>
            <li><a href="#">Marchas pistola</a></li>
            <li><a href="#">Acessórios</a></li>
            <li class="separator"><b>Filtros</b></li>
            <li><a href="#">Preço</a></li>
            <li><a href="#">Cor</a></li>
          </ul>
        </div>
        <div class="col-sm-9 nopadding">
          <ul class="products-list">
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/product">
                <div class="box-img">
                  <img src="/assets/img/produto-img.png" alt="Pedal">
                </div>
                <div class="box-description">
                  Pedal KSP-3200
                  <small>R$ 59,90</small>
                  <span class="btn-line">comprar</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="box-pagination">
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Anterior</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Próximo &raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</include>
