<include src="/layouts/body.html" bind="{{ { menuContact: 'active', viewSlider: false, classSlider: '-int' } }}">
  <section>
    <div class="row">
      <div class="container contact-page">
        <div class="col-xs-12 col-sm-7">
          <br><br>
          <form>
            <div class="form-group">
              <label for="">Nome</label>
              <input type="name" class="form-control" id="" placeholder="Nome completo">
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" id="" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="">Telefone</label>
              <input type="phone" class="form-control" id="" placeholder="Telefone">
            </div>
            <div class="form-group">
              <label for="">Mensagem</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group text-right">
              <button type="button" class="btn">enviar</button>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-4">
          <div class="page-header">
            <h5>Encontre-nos!</h5>
            Rua Manjericão, 333, Bairro, Cidade Bonita - AC<br>
            (99) 99999-9999 / (99) 99999-9999
            <br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.1012848409778!2d-54.60213868526063!3d-20.461032760324745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9486e8987602de89%3A0x26e9dd992aefb3a7!2sAv.+Afonso+Pena+-+Cidade+Jardim%2C+Campo+Grande+-+MS!5e0!3m2!1spt-BR!2sbr!4v1455138614409" width="320" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</include>
