<include src="/layouts/body.html" bind="{{ { menuHome: 'active', viewSlider: true, classSlider: '' } }}">
  <section class="products-home">
    <div class="row">
      <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#novidades" aria-controls="novidades" role="tab" data-toggle="tab">Novidades</a></li>
          <li role="presentation"><a href="#promocao" aria-controls="promocao" role="tab" data-toggle="tab">Promoção</a></li>
          <li role="presentation"><a href="#maisvendidos" aria-controls="maisvendidos" role="tab" data-toggle="tab">Mais vendidos</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="novidades">
            <ul class="products-list">
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="promocao">
            <ul class="products-list">
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="maisvendidos">
            <ul class="products-list">
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/product">
                  <div class="box-img">
                    <img src="/assets/img/produto-img.png" alt="Pedal">
                  </div>
                  <div class="box-description">
                    Pedal KSP-3200
                    <small>R$ 59,90</small>
                    <span class="btn-line">comprar</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row site-description">
      <div class="container">
        <h1>Encontre os melhores</h1>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </section>
</include>
