<include src="/layouts/body.html" bind="{{ { viewSlider: false, classSlider: '-int' } }}">
  <section>
    <div class="row">
      <div class="container contact-page">
        <div class="col-xs-12 col-sm-6 box-login">
          <h3>JÁ TENHO CONTA</h3>
          <br>
          <form>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" id="" placeholder="Email de cadastro">
            </div>
            <div class="form-group">
              <label for="">Senha</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="form-group">
              <a href="#" class="pull-left">Esqueceu a senha?</a>
              <button type="button" class="btn pull-right">entrar</button>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-6 box-register">
          <h3>CADASTRE-SE</h3>
          <br>
          <form>
            <div class="form-group">
              <label for="">Nome</label>
              <input type="text" class="form-control" id="">
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" id="">
            </div>
            <div class="form-group">
              <input type="checkbox" name="" value=""> Aceito os <a href="#">Termos de uso.</a>
              <button type="button" class="btn pull-right">cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</include>
