<include src="/layouts/body.html" bind="{{ { viewSlider: false, classSlider: '-int' } }}">
  <section class="payment">
    <article class="container">
      <div class="container-fluid">
        <div class="col-xs-12 col-md-8 nopadding">
          <h2>Confira seu pedido</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-xs-6"><small><b>Produto</b></small></td>
                <td class="col-xs-3"><small><b>Qnt</b></small></td>
                <td class="col-xs-3"><small><b>Preço un.</b></small></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-xs-6">Pedal KSPEM020</td>
                <td class="col-xs-3">2</td>
                <td class="col-xs-3">R$ 52,90</td>
              </tr>
              <tr>
                <td class="col-xs-6">Roda Campagnolo</td>
                <td class="col-xs-3">2</td>
                <td class="col-xs-3">R$ 102,90</td>
              </tr>
              <tr>
                <td class="col-xs-6"></td>
                <td class="col-xs-3"><b class="label label-primary">Frete</b></td>
                <td class="col-xs-3">R$ 82,00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-xs-6"><h3>Total</h3></td>
                <td colspan="2" class="col-xs-3"><h3>R$ 393,60</h3></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-xs-12 col-md-4 nopadding data-payment">
          <div>
            <h2>Cliente</h2>
            <p><span class="fa fa-user"></span> Marina Santos de Almeida, marinasa@gmail.com, (99) 99999-9999 <a href="#">Editar</a></p>
            <!--<div>
              <label>Nome</label>
              <input type="text" placeholder="Nome da rua, 562, Bairro">
              <label>Email</label>
              <input type="text" placeholder="_____-___">
              <label>Whats App</label>
              <input type="text">
            </div>-->
          </div>
          <div>
            <h2>Entrega</h2>
            <p><span class="fa fa-home"></span> Rua do Oeste Vermelho, 189, Cidade Jardim, Florianópolis - SC, 04010-800 <a href="#">Editar</a></p>
            <!--<div>
              <label>CEP</label>
              <input type="text" placeholder="_____-___">
              <label>Endereço</label>
              <input type="text" placeholder="Nome da rua, 562, Bairro">
              <label>Cidade</label>
              <input type="text">
              <label>Estado</label>
              <input type="text">-->
            </div>
          </div>
        </div>
        <div class="action-payment col-xs-12 nopadding">
          <a href="/success" class="btn-line"><b>COMPRAR</b></a>
          <small>Ao clicar em comprar, você declara ter o seu cartão autorizado com o valor acima, e concorda com os termos e condições.</small>
        </div>
      </div>
    </article>
  </section>
</include>
