<include src="/layouts/body.html" bind="{{ { viewSlider: false, classSlider: '-int' } }}">
  <section class="product-view">
    <div class="container">
      <div class="box-product-img">
        <div class="box-carousel">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/assets/img/produto-img.png" alt="banner">
              </div>
              <div class="item">
                <img src="/assets/img/produto-img2.png" alt="banner">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="box-product-description">
        <h1>Pedal SKP-320</h1>
        <div class="price"><span class="old-price">R$75,90</span> R$54,90</div>
        <div class="action-product">
          <div class="product-options">
            <input type="text" name="quantidade" placeholder="QTD">
          </div>
          <a href="/payment" class="btn-line">comprar</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <ul class="midias-share">
          <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
          <li><a href="#"><span class="fa fa-instagram"></span></a></li>
        </ul>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="box-details-product">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="fa fa-angle-right"></span> Caracteristicas
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td><b>Peso</b></td>
                        <td>0,800g</td>
                      </tr>
                      <tr>
                        <td><b>Dimensão:</b></td>
                        <td>20cm X 40cm X 3cm</td>
                      </tr>
                      <tr>
                        <td><b>Voltagem:</b></td>
                        <td>220W</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="fa fa-angle-right"></span> Tempo médio de entrega
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  15 - 20 dias
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</include>
