<include src="/layouts/body.html" bind="{{ { viewSlider: false, classSlider: '-int' } }}">
  <section>
    <div class="row success">
      <div class="container">
        <h1>Pedido enviado!</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        <a href="/" class="btn-line">voltar para loja</a>
      </div>
    </div>
  </section>
</include>
