@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,100,200,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,500,600,700,800,300);
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #222;
}
p {
  color: #999;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
}
p a {
  color: #49CE99;
}
a {
  color: #222;
}
a:hover {
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
  color: #49CE99;
  text-decoration: underline;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.row {
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.nopadding {
  padding: 0;
}
.start-home {
  position: relative;
  margin-top: 64px;
}
.box-header-int {
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #efefef;
  position: fixed;
  z-index: 10;
  background: #fff;
}
.box-header {
  padding: 30px 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.box-header:hover {
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
  background: #fff;
}
.white{
  background: #fff;
}
.menu-nav {
  margin-top: -15px;
}
.menu-nav li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.menu-nav li a {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.menu-nav li a:hover {
  text-decoration: none;
}
.menu-nav li a span {
  font-size: 1.2em;
}
.menu-nav li .sub-menu {
  display: none;
  background: #fff;
  border: 2px solid #222;
  padding: 20px 20px 10px;
  width: 250px;
  position: absolute;
  z-index: 5;
  top: 15px;
}
.menu-nav li .sub-menu li {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
.menu-nav li .sub-menu li:last-child {
  border-bottom: 0;
}
.menu-nav li .sub-menu li a {
  font-weight: 300;
}
.menu-nav li:hover .sub-menu {
  display: block;
}
.menu-nav .active>a {
  border-bottom: 3px solid #222;
}
.nav-sec li a {
  text-transform: capitalize;
  font-weight: 300;
}
.menu-nav-mobile {
  padding: 0 10px;
  font-size: 1.5em;
  color: #222;
  margin-top: -15px;
}
.menu-nav-mobile span{
  margin-top: 14px;
  color: #848484;
  font-size: 15px;
  display: block;
  position: relative;
}
.menu-mobile {
  width: 320px;
  overflow: hidden;
  margin: 32px 0 0;
  background: #49CE99;
  padding: 10px 20px;
}
.menu-mobile li {
  display: block;
  margin: 14px 0;
  width: 100%;
}
.menu-mobile li a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.menu-mobile li.active a {
  border-bottom: 3px solid #fff;
}

.logo {
  font-weight: 900;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.logo span {
  color: #49CE99;
}
.products-home {
  padding: 30px 0;
  margin-top: 60px;
}
.categorie-page {
  padding: 30px 0 60px;
}
.nav-tabs {
  border: 0;
  text-align: center;
}
.nav > li {
  display: inline-block;
  float: none;
  margin: 0 15px 20px 15px;
}
.nav-tabs > li > a {
  padding: 0 0 3px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
  border: 0;
}
.nav-tabs > li > a:hover {
  background: none;
  border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 0;
  border-bottom: 3px solid #222;
  color: #222;
}
.products-list {
  overflow: hidden;
  padding-top: 10px;
}
.products-list li {
  width: 100%;
  position: relative;
  margin: 1px auto;
}
.products-list li .box-img {
  width: 100%;
  padding: 60px 0;
  background: #efefef;
}
.products-list li .box-img img {
  width: 80%;
  margin: 0 auto;
  height: 125px;
}
.products-list li .box-description {
  display: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #222;
  background: #fff;
  width: 101%;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 84px 15px;
  overflow: hidden;
  opacity: 0.95;
}
.products-list li .box-description small {
  display: block;
  font-weight: 300;
  font-size: 1.1em;
  margin: 10px 0 20px;
}
.products-list li a {
  display: block;
}
.products-list li a:hover {
  text-decoration: none;
}
.products-list li a:hover .box-description {
  display: block;
  color: #49CE99;
}
.products-list li a:hover .box-description .btn-line {
  border: 2px solid #49CE99;
}
.btn-line {
  border: 2px solid #222;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  background: #fff;
}
.btn-line:hover {
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
  border: 2px solid #49CE99;
  background: #49CE99;
  color: #fff;
}
.site-description {
  text-align: center;
  padding: 60px 0 90px;
}
.site-description h1 {
  text-transform: uppercase;
  font-weight: 200;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 3.5em;
}
.site-description p {
  padding: 0 10px;
}
.footer {
  background: #222;
  padding: 30px 0;
}
.footer .menu-nav a {
  color: #efefef;
}
.footer .menu-nav a:hover {
  color: #49CE99;
  border-bottom: 3px solid #49CE99;
  text-decoration: none;
}
.footer .menu-nav a span {
  font-size: 1.8em;
}
.footer .menu-nav .active a {
  border-bottom: 3px solid #999;
}
.footer p {
  color: #999;
  font-size: 0.9em;
  margin: 15px 10px 0;
}
.footer .nav-icons {
  text-align: right;
}
.footer .nav-icons p {
  margin: 8px 10px 0;
}
.aside-nav li {
  margin-bottom: 10px;
}
.aside-nav li b {
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.aside-nav li a:hover {
  color: #49CE99;
  text-decoration: none;
}
.aside-nav .active a {
  font-weight: 600;
}
.aside-nav .separator {
  margin-top: 25px;
}
.box-pagination {
  margin-top: 30px;
}
.box-pagination ul {
  width: 100%;
  margin: 0;
  text-align: center;
}
.box-pagination ul li {
  display: inline-block;
}
.box-pagination ul li a {
  color: #222;
}
.box-pagination ul li:hover a,
.box-pagination ul li:focus a,
.box-pagination ul li:active a {
  color: #49CE99;
  background: #fff;
  border-color: #49CE99;
}
.box-pagination .pagination > li > a:focus,
.box-pagination .pagination > li > a:hover,
.box-pagination .pagination > li > span:focus,
.box-pagination .pagination > li > span:hover {
  color: #49CE99;
  background: #fff;
  border-color: #49CE99;
}
.product-view {
  padding: 80px 0 30px 0;
}
.product-view .box-product-img {
  max-height: 460px;
  max-width: 600px;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  opacity: 0.8;
}
.box-product-img {
  margin-bottom: 30px;
}
.box-product-description h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.1em;
  margin: 0;
  padding: 0;
}
.box-product-description input {
  font-size: 1.2em;
  padding: 9px 10px;
  width: 80px;
  float: left;
}
.box-product-description .btn-line {
  float: left;
  width: 210px;
  text-align: center;
  font-size: 1.3em;
  padding: 10px 0;
}
.box-product-description .btn-line:hover {
  text-decoration: none;
}
.box-product-description .action-product {
  overflow: hidden;
}
.box-product-description p {
  font-size: 1em;
  line-height: 1.2em;
  padding: 20px 0 10px;
}
.price {
  font-size: 1.4em;
  color: #49CE99;
  font-weight: 400;
  padding: 30px 0;
}
.price .old-price {
  color: #999;
  text-decoration: line-through;
  font-weight: 200;
  display: inline-block;
  padding-right: 10px;
}
.panel-default {
  border-color: transparent;
  border: 0;
  box-shadow: 0 0 0;
}
.panel-default > .panel-heading {
  padding: 0;
  background: none;
}
.panel-default > .panel-heading h4 a {
  text-transform: uppercase;
  font-size: 0.8em;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
  border-top: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.panel-body {
  padding: 15px 0;
}
.midias-share li {
  margin: 0 5px 20px 0;
  display: inline-block;
}
.midias-share li span {
  font-size: 1.6em;
}
.table {
  margin-bottom: 0;
}
.table h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: right;
}
.payment {
  padding-bottom: 30px;
}
.payment h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}
.payment p a {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.8em;
  color: #49CE99;
  margin-top: 3px;
  display: block;
}
.payment .btn-line {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 30px 0;
  display: block;
  margin: 30px auto 10px auto;
}
.payment .btn-line:hover {
  text-decoration: none;
}
.payment .data-payment {
  margin-top: 25px;
}
.payment .data-payment label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}
.payment .data-payment input {
  width: 100%;
  padding: 10px;
}
.payment .action-payment small {
  display: block;
  text-align: center;
}
.success {
  background: #fff;
  padding: 20px 0 50px;
  text-align: center;
}
.success h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.success p {
  color: #222;
  margin: 20px auto 50px auto;
  max-width: 600px;
}
.success .btn-line {
  background: transparent;
  font-size: 1.2em;
  padding: 10px 30px;
}
.success .btn-line:hover {
  background: #fff;
  border-color: #fff;
  color: #49CE99;
  text-decoration: none;
}
.list-posts {
  text-align: center;
  max-width: 850px;
  margin: 120px auto;
}
.list-posts li,
.list-posts .box-post {
  padding: 30px 0 65px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 35px;
  overflow: hidden;
}
.list-posts li:last-child,
.list-posts .box-post:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.list-posts .box-img {
  height: 200px;
  overflow: hidden;
}
.list-posts h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
}
.list-posts small {
  display: inline-block;
  font-size: 0.9em;
  margin: 20px 10px 0 0;
  color: #999;
}
.list-posts p {
  padding: 25px 0;
  font-weight: 500;
}
.list-posts a:hover,
.list-posts a:focus {
  text-decoration: none;
}
.list-posts .categories-post {
  margin: 20px 0;
  padding: 0;
}
.list-posts .categories-post li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  border: 0;
}
.list-posts .categories-post li a {
  color: #999;
}
.list-posts .categories-post li a:hover,
.list-posts .categories-post li a:focus {
  color: #49CE99;
}
.post .post-content {
  text-align: left;
}
.post .post-content p {
  font-size: 1.3em;
  font-weight: 400;
}
.post .single-text{
  font-size: 1.3em;
  font-weight: 400;
  color: #999;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 15px 0;
}
.post .box-post {
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0;
}
.post .pagination-post {
  margin: 30px 0;
  overflow: hidden;
  font-size: 1.1em;
}
.post .pagination-post .next {
  text-align: right;
}
.post .pagination-post .prev {
  text-align: left;
}
.post .pagination-post div {
  width: 49%;
  text-align: center;
  text-transform: uppercase;
}
.post .pagination-post div a {
  display: block;
  border-top: 3px solid #efefef;
  padding-bottom: 30px;
}
.post .pagination-post div a:hover {
  border-top: 3px solid #49CE99;
}
.post .pagination-post div span {
  display: block;
  padding: 30px 0 15px;
}
.post .pagination-post div b {
  display: block;
  font-size: 1.2em;
}
.box-comments {
  padding: 30px 0 60px;
}
.share-post {
  margin-bottom: 10px;
}
.share-post .midias-share li {
  padding: 0;
  margin: 10px 5px;
}
.share-post .midias-share li span {
  font-size: 2em;
}
.related-post {
  background: #efefef;
}
.related-post li {
  padding: 10px;
}
.related-post li small {
  margin: 10px 0;
}
.related-post li p {
  padding: 0 0 5px 0;
}
.related-post li h1 {
  font-size: 1.8em;
}
.related-post li .btn-line {
  background: none;
  border: 0;
  padding: 0;
}
.related-post li .btn-line:hover,
.related-post li .btn-line:focus {
  color: #49CE99;
}
.newslatter {
  background: #49CE99;
  padding: 50px 0;
}
.newslatter .form-group {
  margin-top: 15px;
}
.newslatter .form-control {
  border: 0;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 0 0;
  color: #222;
}
.newslatter .btn {
  background: #222;
  color: #fff;
  border-radius: 0;
  width: 100%;
}
.newslatter .btn:hover {
  color: #49CE99;
}
.contact-page {
  padding: 50px 0;
}
.contact-page .btn {
  background: #222;
  color: #fff;
  border-radius: 0;
  border: 0;
}
.contact-page .btn:hover {
  color: #49CE99;
}
.client-account
{
	padding: 50px 0;
}
.client-account h1
{
	margin: 0 0 15px;
}
.client-account,.client-account .btn-line
{
	background: #efefef;
}
.client-account .btn-line:focus,.client-account .btn-line:hover
{
	color: #49ce99;
	text-decoration: none;
}
.client-request
{
	padding: 50px 0;
}
.text-red
{
	color: #d83d3d;
}
.text-green
{
	color: #2fd61e;
}
.text-blue
{
	color: #1b83f5;
}
.text-gray
{
	color: #c8c9d2;
}
.text-orange
{
	color: #ff750c;
}
.box-login
{
	background: #efefef;
}
.box-login,.box-register
{
	padding: 50px;
}
.call-admin{
  background:#49CE99;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
}
.call-admin p{
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.call-admin a{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: 4px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 10px;
  line-height: 1.5em;
}
.call-admin a:hover{
  background: #222;
  text-decoration: none;
  border: 1px solid #222;
  transition: all linear 0.2s;
}

section{
  margin-top: 80px;
}
@media (min-width: 613px){
  .start-home, .list-posts, .product-view, .client-request, .payment{
    margin-top: 42px;
  }
  .categorie-page {
    padding: 80px 0 60px;
  }
}
@media (min-width: 768px){
  .products-home{
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
  .products-list li {
    width: 24.5%;
    float: left;
    margin: 1px;
  }
  .product-view .box-product-img {
    float: left;
  }
  .product-view .box-product-description {
    float: right;
    width: 320px;
    margin-top: 50px;
  }
  .data-payment {
    margin-top: 55px !important;
    padding-left: 50px;
  }
  .success {
    padding: 50px 0 160px 0;
  }
  .list-posts {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .product-view .box-product-description {
    width: 400px;
  }
  .payment {
    padding: 85px 0;
  }
}
